GO_PORT="2500"
GO_HOST="127.0.0.1"
APP_RABBITMQ_URL=""
APP_REDIS_URL=""
APP_PG_HOST=""
APP_PG_PORT=""
APP_PG_USER="vuecom"
APP_PG_PASSWORD="" # Password for the non superuser
POSTGRES_PASSWORD="" # Password for the superuser (used for the shell script in the deploy-config)
GATE_PG_DBNAME=""
API_ENC_KEY=""
SECRET_KEY=""
CLOUDINARY_KEY=""
CLOUDINARY_SECRET=""
CLOUDINARY_CLOUD_NAME=""
IS_SAAS="false"

# -------------------------
ORDER_PG_DBNAME=""

# -------------------------
CATALOG_PG_DBNAME=""

# -------------------------
PAYMENT_PG_DBNAME=""

# -------------------------
INVENTORY_PG_DBNAME=""

# -------------------------

NOTIF_PG_DBNAME=""
